header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header .logo {
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

header .logo:hover {
    border-radius: 20px;
    background: rgba(255, 255, 255, .2);
}

header .logo img {
    width: 150px;
}

header .menu ul {
    list-style: none;
    display: flex;
}

header .menu ul li {
    padding: 10px;
    margin: 0 auto;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: underline;
    color: #F2F2F2;
}

header .menu ul li:hover {
    background: rgba(255, 255, 255, .2);
}