.name-profession {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.name-profession .container-text {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px 0;
}

.name-profession .container-text .text {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
}

.name-profession .container-text .text .name,
.name-profesion .container-text .text .profession {
    color: #FFF;
    font-weight: 300;
    margin: 0;
}

.name-profession .container-text .text .name::selection,
.name-profession .container-text .text .profession::selection {
    background: #000;
}

.name-profession .container-text .text .name {
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 50px;
}

.name-profession .container-text .text .profession {
    font-size: 25px;
    line-height: 25px;
}