.name-profession {
    width: 100%;
    display: flex;
    justify-content: center;
}

.name-profession .container-text {
    margin: 50px 0;
    padding: 20px 60px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    text-align: center;
}

.name-profession .container-text .name,
.name-profession .container-text .profession {
    color: #F2F2F2;
    font-weight: 300;
    margin: 0;
}

.name-profession .container-text .name::selection,
.name-profession .container-text .profession::selection {
    background: #000;
}

.name-profession .container-text .name {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 10px;
}

.name-profession .container-text .profession {
    font-size: 25px;
    line-height: 25px;
}