* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    background: #000 url('../img/Tree\ MD.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #F5F5F5;
}

.container {
    margin: auto;
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header {
    width: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    padding: 10px;
}

header .logo img {
    height: 50px;
}

header .menu ul {
    list-style: none;
}

header .menu ul li {
    display: inline-block;
}

header .menu ul li a {
    padding: 10px;
    text-decoration: none;
    color: #F5F5F5;
}

header .logo:hover {
    border-radius: 20px;
    background: rgba(255, 255, 255, .2);
}

header .menu ul li a:hover {
    border-radius: 20px;
    background: rgba(255, 255, 255, .2);
}

.main {
    background: #F5F5F5;
    color: #000;
    width: 100%;
    padding: 20px;
}

.main article .thumb {
    margin-bottom: 20px;
}

.main article .thumb img {
    width: 100%;
    vertical-align: top;
}

.main article h2 {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 32px;
    text-align: center;
}

.main article p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 27px;
}

footer {
    margin: 20px 0;
    background: rgba(255, 255, 255, .5); 
    padding: 20px;
    width: 100%;
    color: #F5F5F5;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

footer .social-networks a {
    color: #F5F5F5;
    text-decoration: none;
    margin-left: 20px;
    /* margin-right: 20px; */
}

footer .social-networks a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        padding-bottom: 20px;
    }

    header .menu {
        width: 100%;
        background: rgba(255, 255, 255, .5); 
        text-align: center;
        padding: 10px;
    }

    header .logo {
        margin-bottom: 20px;
    }

    footer {
        flex-direction: column;
    }

    footer .author {
        margin-bottom: 20px;
        text-align: center;
    }
}