* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    background: #000 url('../img/Laptop\ Office\ Desk.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #FFF;;
}

.container {
    margin: auto;
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header {
    width: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    padding: 10px;
}

header .logo img {
    height: 50px;
}

header .menu ul {
    list-style: none;
}

header .menu ul li {
    display: inline-block;
}

header .menu ul li a {
    padding: 10px;
    text-decoration: none;
    color: #F5F5F5;
}

header .logo:hover {
    border-radius: 20px;
    background: rgba(255, 255, 255, .2);
}

header .menu ul li a:hover {
    border-radius: 20px;
    background: rgba(255, 255, 255, .2);
}

.nameProfesion {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nameProfesion .container-text {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px 0;
}

.nameProfesion .container-text .text {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
}

.nameProfesion .container-text .text .name,
.nameProfesion .container-text .text .profesion {
    color: #FFF;
    font-weight: 300;
    margin: 0;
}

.nameProfesion .container-text .text .name::selection,
.nameProfesion .container-text .text .profesion::selection {
    background: #000;
}

.nameProfesion .container-text .text .name {
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 50px;
}

.nameProfesion .container-text .text .profesion {
    font-size: 25px;
    line-height: 25px;
}

.main {
    background: #F5F5F5;
    color: #000;
    width: 100%;
    padding: 20px;
}

.main article .container {
    justify-content: center;
    overflow: visible;
}

.main article .container .photo {
    margin-top: -60px;
}

.main article .container .photo img {
    border-radius: 50%;
    border: 5px solid rgba(223, 193, 193, 0.2);
}

.main article .container .title {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #6487A7;
    text-align: center;
}

.main article .thumb {
    margin-bottom: 20px;
}

.main article .thumb img {
    width: 100%;
    vertical-align: top;
}

.main article p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 27px;
}

.main .works {
    background: #F2F2F2;
    padding: 60px 0;
}

.main .works .titleprojects {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #323068;
    text-align: center;
}

.main .works .container-works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .works .container-works .work {
    width: 23%;
    margin-bottom: 40px;
}

.main .works .container-works .work .description {
    text-align: center;
}

.main .works .container-works .work .description .name {
    font-weight: 700;
    color: #3895EA;
    margin-bottom: 10px;
}

.main .works .container-works .work .description .category {
    font-size: 14px;
    color: #636363;
}

footer {
    margin: 20px 0;
    background: rgba(255, 255, 255, .2); 
    padding: 20px;
    width: 100%;
    color: #F5F5F5;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

footer .social-networks a {
    color: #F5F5F5;
    text-decoration: none;
    margin-left: 20px;
    /* margin-right: 20px; */
}

footer .social-networks a:hover {
    text-decoration: underline;
}

/* ----- ----- MEDIA QUERIES ----- ----- */

@media screen and (max-width: 800px) {
    header {
        margin: 5px 0;
    }

    .nameProfesion .container-text {
        width: 100%;
    }

    .nameProfesion .container-text .text {
        width: 100%;
        padding: 20px 30px;
    }

    .nameProfesion .container-text .text .name {
        font-size: 20px;
        padding: 0;
        margin: 0;
    }

    .nameProfesion .container-text .text .profesion {
        font-size: 15px;
        margin: 10px;
    }
    
    .main .works .container-works .work {
        width: 46%;
    }
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        padding-bottom: 20px;
    }

    header .menu {
        width: 100%;
        background: rgba(255, 255, 255, .5); 
        text-align: center;
        padding: 10px;
    }

    header .logo {
        margin-bottom: 20px;
    }

    footer {
        flex-direction: column;
    }

    footer .author {
        margin-bottom: 20px;
        text-align: center;
    }
}