@import url("navigation.css");
@import url("name-profesion.css");
@import url("main.css");
@import url("footer.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    background: #000 url('../img/Laptop\ Office\ Desk.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #FFF;;
}

.container {
    margin: auto;
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header {
    width: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* ----- ----- MEDIA QUERIES ----- ----- */

@media screen and (max-width: 800px) {
    header {
        margin: 5px 0;
    }

    .name-profesion .container-text {
        width: 100%;
    }

    .name-profesion .container-text .text {
        width: 100%;
        padding: 20px 30px;
    }

    .name-profesion .container-text .text .name {
        font-size: 20px;
        padding: 0;
        margin: 0;
    }

    .name-profesion .container-text .text .profesion {
        font-size: 15px;
        margin: 10px;
    }
    
    .main .works .container-works .work {
        width: 46%;
    }
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        padding-bottom: 20px;
    }

    header .menu {
        width: 100%;
        background: rgba(255, 255, 255, .5); 
        text-align: center;
        padding: 10px;
    }

    header .logo {
        margin-bottom: 20px;
    }

    footer {
        flex-direction: column;
    }

    footer .author {
        margin-bottom: 20px;
        text-align: center;
    }
}